.container-fixed {
  padding-top: 15px;
    margin: 0 auto;
  max-width: 800px;
}
.content
{
    font-family:'Arial', sans-serif;
    color:darkred;
    font-size: 50px;
    padding: 0 65px 0 0;
    text-align:center; 
   
}
.content1
{
    font-family:'Arial', sans-serif;
    color:black;
    font-size: 20px;
    font-weight: bold;
    padding: 0 65px 0 0;
    text-align:center; 
    font-style: normal;
   
}
.content2
{
    font-weight:400;
    font-family:'Arial', sans-serif;
    color:black;
    padding: 12px 50px 0 0 ;
    text-align:center;
    font-size: 20px;
    font-style:normal;
   
}
.content3
{

    font-family:'Arial', sans-serif;
    color:black;
    padding: 12px 50px 0 0 ;
    text-align:center;
    font-size: 15px;
    font-style:normal;
   
}
images
{
    display: block;
    margin:inherit;
    width: 100px;
    height: 100px;
}

.ppl
{
padding-top: 20px;    

}

.register{
    padding: 2px 0 2px 0;    
    text-align: left;
    padding-left: 480px;
    line-height: 32px;
           
}
.register1{
    padding: 2px 0 2px 0;    
    text-align: left;
    padding-right: 200px;
    line-height: 32px;
    font-size: 20px;
           
}