.body{
    font-family: 'Arial', sans-serif !important;
    background-color: #FFFFFF !important;
    padding-top: 2px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

//////heading menu part

#heading{
max-width: 100%;
margin:0px auto;
padding:0px;
}

header{   
    height: 400px !important;    
    background-image: url(Images/Slider/img8.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    margin-left: 0px;
    margin-right: 0px;   
} 


.main_menu{
    padding: 5px 0 5px 0;    
    text-align: right; 
    padding-right: 10px;
    line-height: 32px;
           
}
.main_menu li{
    display:inline;
    padding:0 10px 0 10px;
    font-size: 15px;
}

.main_menu a{
    text-decoration: none;
    color: #fff;
    padding:7px;
    font-variant:normal;    
}

.main_menu a:hover{
    color:gainsboro;
}

.caption li{
    display: inline;
    padding-top: 10px;
    font-family: 'Arial' , sans-serif;
    font-variant: normal;
    color: #fff;
    font-size: 16px;
}
//////////////////
///slider
#textslider div{
    position: absolute;    
    align-content: center;
}

#textslider p{
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    padding-top: 20px;
    font-variant: normal;
    text-align: center;    
    color: #F2F2F2;
}

////////
////Search
////////////////////


input {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #555860;
    background: transparent;
}

.search {
    position: relative;
    margin: 0 auto;
    width: 500px;
    padding-top: 50px;
    background: transparent;
}
.search div{ display: inline;
    
}
.search input {
    height: 35px;
    width: 100%;
    padding: 0 12px 0 25px;
   // background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 6px no-repeat;
    border-width: 0px;
    background: #ffffff;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 9px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search input:focus {
    outline: none;
    border-color: #66b1ee;
    -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

:-moz-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

::-webkit-input-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

.lt-ie9 .search input { line-height: 30px }

/* css for the shiny buttons */








.cardContainer{
    perspective: 700;
    -webkit-perspective:700;
    -ms-perspective:700;
    -moz-perspective:700;
    display: table-row;
    padding: 0 10px 0 10px;
    
}

.card{
    position: relative;
    text-align: center;
    margin:20px;
    height: 200px;
    width: 200px;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s linear;
    -ms-transition: all 0.6s linear;
    -moz-transition: all 0.6s linear;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}
.front, .back{
    background: #5677fc;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}
.back{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    color: aliceblue;
}
.back a{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}
.back a:hover{
    color: lightgrey;
    text-decoration: none;    
}

.card:hover{
    
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}


.logo{
    align-content: right ! important;
    text-align: right ! important;
    padding-right: 10px;
}
















